AddHandler cgi-script .cgi .py
Options +ExecCGI
DirectoryIndex index.py

RewriteEngine On
RewriteBase /pyftut/dev/
RewriteRule ^index\.py$ - [L]
RewriteRule . /pyftut/dev/index.py [L]

# Alias /alias ../
